.footer_content {
    
    min-height: 40vh!important;
    padding:30px!important;
    padding-left: 250px!important; 
}
.footer_menu {
    float:left;
    width: 33%;
}
h3 {
    font-size: 32px;
    color:cornsilk;
}
.footer_menu ul {
    padding: 0;
    margin:0;
    list-style: none;
}
.footer_menu ul li a {
    font-size: 16px;
    line-height:36px;
    color:white;
    text-decoration: none;
}
.footer_menu ul li a:hover {
    color: #2c2005;
}
.copyright {
    
    text-align: left;
    color: #bab3b3;
    font-size: x-small;
}
.copyright p {

    margin-bottom: 0rem !important;
    background-color: slategray;
    font-size: 15px;
}

.social {
    color:indianred;
}
.social:hover {
    color: #2c2005;
}
.contact {
    display: inline-block;
}
.social-menu ul {
    position: relative;
    top: 110%;
    left: 50%;
    padding: 0;
    margin: 0;
    align-items: center;
    transform: translate(-50%, -50%);
    display: flex;
}

.social-menu ul li {
    list-style: none;
    margin: 0 5px;
}

.social-menu ul li .fa {
    font-size: 40px;
    line-height: 60px;
    transition: .3s;
    color: black;
}

.social-menu ul li .fa:hover {
    color: #fff;
}

.social-menu ul li a {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 55%;
    background-color: white;
    text-align: center;
    transition: 1s;
    box-shadow: 0 5px 4px rgba(0, 0, 0, .5);
    max-height: 40vh;
    -webkit-box-reflect: below 5px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.2));
}

.social-menu ul li a:hover {
    transform: translate(0, -10%);
}

.social-menu ul li:nth-child(1) a:hover {
    background-color: rgba(0, 0, 0, 0.829);
}

.social-menu ul li:nth-child(2) a:hover {
    background-color: #e4405f;
}

.social-menu ul li:nth-child(3) a:hover {
    background-color: #0077b5;
}

.social-menu ul li:nth-child(4) a:hover {
    background-color: rgb(23, 68, 120);
}

.social-menu ul li:nth-child(5) a:hover {
    background-color: rgb(0, 52, 112);
}
